{% load static %}
body{
	width: 1024px;
    }

#header {
	height: 150px;
	float:left;
	width: 1024px;
    background-image:url("/static/img/header.png");
    text-align: right;
}
		
#menu{
	width: 1024px;
	float: left;
}

#page{
	width: 1024px;
    background-color: darkgray;
    float: left;
}


ul
{
list-style-type:none;
margin:0;
padding:0;
text-align: center;
overflow:hidden;
}
li
{
float:left;
}
a.menu
{
color: white;
display:block;
text-decoration: none;
width:256px;
background-color:black;
}




