{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title%}DeliPizz{% endblock %}</title>
    <link rel="stylesheet" type="text/css", href="{% static "css/default.css" %}">

</head>


<body>

    <div id="header">

{%  if form.errors %}
        <p class="error">Désolé, mais votre username ou votre password est invalide.</p>
    {% endif %}

        <form action="/delipizz/accounts/auth/" method="post">{% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" value="" id="username">
            <label for="password">Password:</label>
            <input type="password" name="password" value="" id="password">

            <input type="submit" value="login"/>
        </form>
        <p>Pas encore de compte? <a href="/delipizz/accounts/register/">Enregistrez-vous</a> </p>
            <!--<img src=" {% static "img/header.png"%}"/>-->
    </div>

    <div id="menu">

        <ul>
		     <li><a class = 'menu' href="/delipizz/accueil">Accueil</a></li>
             <li><a class = 'menu' href="/delipizz/infos">Infos</a></li>
             <li><a class = 'menu' href="/delipizz/commande">Commande</a></li>
             <li><a class = 'menu' href="/delipizz/about">A propos</a></li>
	    </ul>
    </div>

        {% block content %}
        {% endblock %}

<div id="footer">
    <img src=" {% static "img/footer.png"%}"/>
</div>

</body>

</html>
