{% extends "foundation/base.html" %}
{% load static %}

{% block title %}DeliPizz | Commander{% endblock title %}

{% block base_body %}

    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="/delipizz/accueil">DeliPizz</a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
            <li><a href="/delipizz/accueil">Accueil</a></li>
            <li class = "active" ><a href="/delipizz/pizzas">Pizzas</a></li>
            <li><a href="/delipizz/commande">Commander</a></li>
            <li><a href="/delipizz/infos">Infos Pratiques</a></li>
            <li><a href="/delipizz/about">A propos</a></li>
            <li><a href="/delipizz/accounts/register">Compte</a></li>
        </ul>
      </section>
    </nav>

    <div class="row">
      <div class="large-12 columns">
        <h1>Nos pizzas</h1>
      </div>
    </div>

    <div class="row">
        <div class="large-12 columns">

                   <table class="large-12 columns">
                    <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>

                    </tr>
                    {% for pizza in pizzas %}
                    <tr>
                    <td>{{ pizza.name }}</td>
                    <td>{{ pizza.description }}</td>
                    <td class="text-right"> {{ pizza.price }}.- </td>
                                    <tr>
                    {% endfor %}
                    </table>

        </div>
    </div>

{% endblock base_body %}




