{% extends "base.html" %}
{% load static %}

{% block content %}

    {%  if form.errors %}
        <p class="error">Désolé, mais votre username ou votre password est invalide.</p>
    {% endif %}

    <form action="/delipizz/accounts/auth/" method="post">{% csrf_token %}
        <label for="username">User name:</label>
        <input type="text" name="username" value="" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password">

        <input type="submit" value="login"/>
    </form>

{% endblock %}




